
#form {
    width: 400px;
    margin: auto;
    margin-top: 6rem;
}

table th {
    font-weight: bold;
}

.total,
.amount {
    font-weight: bold;
}

.category{
    margin-right: auto;
}

#delete-btn {
    margin-left: 40px;
}